<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBXry5mV2i5-KyyT5LxFkBhUYjrDwNvH0</string>
	<key>GCM_SENDER_ID</key>
	<string>591933818455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laporBook</string>
	<key>PROJECT_ID</key>
	<string>lapor-book-2c8a7</string>
	<key>STORAGE_BUCKET</key>
	<string>lapor-book-2c8a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591933818455:ios:7e994aba0078e5f2ec8512</string>
</dict>
</plist>